body {
    background-color: azure;
}
h1{
    background-color: black;
    text-align: center;

}
div{
    background-color: red;
    font-size: 30px;
}
p{
    background-color: gold;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
